# =========================
# 📦 Base de datos PostgreSQL
# =========================
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=microtask
POSTGRES_PORT=5432
DB_HOST=microtask-postgres

# =========================
# 🔐 Autenticación y JWT
# =========================
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=3600s

# =========================
# 🌐 Puertos de microservicios
# =========================
AUTH_SERVICE_PORT=3000
USERS_SERVICE_PORT=3001
TASKS_SERVICE_PORT=3002

# =========================
# 🗄 Conexiones a bases de datos
# =========================
# Conexión para TypeORM con PostgreSQL
DATABASE_URL=postgres://postgres:your_password_here@microtask-postgres:5432/microtask

# Conexión para MongoDB
MONGODB=mongodb+srv://your_user:your_password_here@cluster0.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
